/* ex: set tabstop=8 softtabstop=2 shiftwidth=2 expandtab: */

@import "compass/reset"
@import "compass/css3/border-radius"
@import "compass/css3/text-shadow"
@import "compass/typography/lists/inline-list"
@import "compass/typography/links/hover-link"
@import "compass/layout/sticky-footer"

$color: #aaaaaa
$lighter-color: adjust-lightness($color, 10%)
$darker-color: adjust-lightness($color, -10%)


body
  font-family: "Noto Sans"
  color: #333

a
  color: #08c
  text-decoration: none
  &:hover
    color: #005580

#headerWrap
  overflow: hidden
#header
  position: relative
  display: block
  background-color: $lighter-color
  border-bottom: 3px solid $color
  a
    color: #333
    &:hover
      color: #000

abbr
  border-bottom: 1px dotted #aaaaaa


@mixin magic-border
  content: ""
  position: absolute
  bottom: -3px
  width: 100%

ul.nav
  display: inline-block

  li 
    display: inline-block
    font-size: 20px
    padding: 5px 0px 5px 0px
    +text-shadow(rgba(black, .3) 1px 1px 3px)
    h2
      font-weight: bold
      display: inline-block
    &>a, &>h2
      padding: 0px 5px 0px 5px
    &.active:after
      +magic-border
      border-bottom: 3px solid $color
    &.active:before
      +magic-border
      border-bottom: 3px solid black

h1
  display: inline-block
  font-size: 38.5px
  padding: 5px 10px 5px 0px
  +text-shadow(rgba(black, .3) 2px 2px 3px)

#content
  margin-bottom: 100px
  h2
    font-size: 31.5px
    padding-top: 21px

h3
  font-size: 24.5px
  margin: 0px  5px 0px 5px

h1, #content h2, h3
  font-weight: bold
  line-height: 40px

.subtitle
  font-size: 14px
  font-style: italic
  // Subtitle to h2
  padding-top: 5px
  padding-bottom: 5px
  ul
    +inline-list 
    li 
      margin-right: 20px

@mixin margined_block
  margin-top: 0.5em
  margin-bottom: 0.5em

.section-short
  border-bottom: 1px solid #eeeeee

.section
  padding-top: 1em
  padding-bottom: 1em
  border-bottom: 1px solid #eeeeee
  ul
    +margined_block
  .subtitle
    // Subtitle to h3
    margin: 0px  5px 14px 15px

p
  +margined_block
  font-size: 15px
  line-height: 1.65em

strong
  font-style: normal
  font-weight: bold

em
  font-style: italic 
  font-weight: none

#comments
  dt
    font-weight: bold

label
  vertical-align: top
  font-weight: bold

.errorlist
  color: red

@include sticky-footer(27px)

#footer
  background-color: $lighter-color
  border-top: 3px solid $color
  height: 24px
  font-size: 14px
  line-height: 1.5
  padding-left: 0.5em
  padding-right: 0.5em
  overflow: hidden

#header_inner, #footer_inner, .section, .section-short
  max-width: 900px
  margin: auto
  padding-left: 8px
  padding-right: 8px


