{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_events %}
<li class="active">
    <h2>{% flatcontent events_title %}</h2></li>
{% endblock %}

{% block content %}

{% for event in object_list %}
<div class="section">
{% url 'bjwebb.views.event' event.project.slug event.slug as event_url %}
{% url 'bjwebb.views.project' event.project.slug as project_url %}
<div>
    {% include 'bjwebb/nice_dates.html' with object=event %}
</div>
<h3>
    <a href="{{ event_url }}">
        {{ event.name }}
    </a>
</h3>

<div class="subtitle">
    (Part of
    <a href="{{ project_url }}">
        {{ event.project.name }}</a>)
</div>

{{ event.text|safe|linebreaks }}

</div>
{% endfor %}
{% endblock %}
