{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_posts %}
<li class="active">
    <h2>{% flatcontent posts_title %}</h2></li>
{% endblock %}

{% block content %}

{% for post in object_list %}
<div class="section">
{% url 'bjwebb.views.post' post.project.slug post.slug as post_url %}
{% url 'bjwebb.views.project' post.project.slug  as project_url %}
<h3>
    <a href="{{ post_url }}">
        {{ post.title }}
    </a>
</h3>

<div class="subtitle">
    (Posted in 
    <a href="{{ project_url }}">
        {{post.project.name}}</a> on {{post.created}})
</div>

{{ post.text|safe|linebreaks }}

</div>
{% endfor %}
{% endblock %}
