{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_projects %}
<li class="active">
    <h2>{% flatcontent projects_title %}</h2></li>
{% endblock %}

{% block content %}

{% for project in object_list %}
<div class="section">

<h3>
    <a href="{% url 'bjwebb.views.project' project.slug %}">
        {{ project.name }}
    </a>
</h3>

{% if project.started %}
<div class="subtitle">({% include 'bjwebb/nice_dates.html' with object=project %})</div>
{% endif %}

{{ project.text|safe|linebreaks }}

</div>
{% endfor %}

{% endblock %}
