{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_projects %}
<li class="active">
    <h2><a href="{% url 'bjwebb.views.projects' %}">{% flatcontent projects_title %}</a></h2></li>
{% endblock %}

{% block content %}

<div class="section-short">
<h2>{{ project.name }}</h2>

{% if project.started %}
<div class="subtitle">({% include 'bjwebb/nice_dates.html' with object=project %})</div>
{% endif %}
</div>

<div class="section">
{{ project.text|safe|linebreaks }}
</div>

{% if project.source_url_list|length > 0 or project.external_url %}
<div class="section">
    <h3>
        Links
    </h3>
    {% if project.external_url %}
    <p>
        {% if project.external_url_name %}
        <a href="{{project.external_url}}">{{ external_url_name }}</a>
        {% else %}
        <a href="{{project.external_url}}">{{project.name}}</a>
        {% endif %}
    </p>
    {% endif %}

    {% if project.source_url_list|length == 0 %}
    {% elif project.source_url_list|length == 1 %}
    <p>
        <a href="{{ project.source_url_list|first|first }}">Source Code</a>
    </p>
    {% else %}
        <ul>
        <li>Source Code:</li>
        {% for source_url,source_name in project.source_url_list %}
        <li>
        <a href="{{ source_url }}">{{ source_name }}</a>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endif %}

{% if project.post_set.all %}
<div class="section">
    <h3>
        Posts
    </h3>
    <ul>
    {% for post in project.post_set.all %}
    {% url 'bjwebb.views.post' post.project.slug post.slug as post_url %}
    <li>
        <a href="">
            {{ post.title }}
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if project.event_set.all %}
<div class="section">
    <h3>
        Events
    </h3>
    <ul>
    {% for event in project.event_set.all %}
    {% url 'bjwebb.views.event' event.project.slug event.slug as event_url %}
    <li>
        <a href="{{ event_url }}">
            {{ event.name }}
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% include 'bjwebb/comment_sections.html' with object=project %}

{% endblock %}
